
div>h3{
    color: #ff7a18;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
strong{
    color: rgb(3, 3, 80);
}
.sections{
    width: 600px;
    background-color: rgba(255, 255, 255, 0.623);
    color: black;
}
body {
    background-image: url("../images/bg-image3.png");
    color: white;
    background-color: #cccccc;
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
   }
h1{
    font-style: normal;
    font-weight: 800;
    font-size: clamp(2rem,calc(2rem + 1.2vw),3rem);
}

.mega-header-author {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
}

.mega-header, .page-wrap {
    padding: 0 var(--gap);
}

.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
}

.avatar{
    border-radius: 50%;
    margin-right: .5rem;
}

.author-bio {
    font-size: 1.4rem;
}

.div-section{
    display: flex;
    overflow: hidden;
}
.moods{
    width:800px; 
    margin:0 auto;
}

/* unvisited link */
a:link { color: #FF0000; }
/* visited link */
a:visited { color: #6e97ee; }
/* mouse over link */
a:hover { color: #FF00FF; }
/* click on a link */
a:active { color: #0000FF; }

p::first-letter{
    font-size: 150%;
    text-transform: capitalize;
}

.title-movies{
    color: #30044e;
    font-size: 80%;
    font-weight: bold;
}

.detail-movies{
    color: #0e0d0d;
    font-size: 75%;
    font-weight:500;
}
ul>li {
    list-style-type: none;
  }


ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
ol { 
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}

li {
    flex: 0 0 auto;
}