body{
	color: aliceblue;
}
header{
	
	width: 100%;
	padding: 0 10%;}

h1{
	padding: 60px 5px 5px 250px;
	font-family: 'Julius Sans One', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
	margin-bottom: 0%;
}
h2{
	padding: 10px 5px 5px 250px;
	color: rgba(255,255,255,0.9);
    font-size: 1.6em;
    font-style: italic;
	margin-top: 5px;
}
.page-wrapper { 
background: url(../images/backgound-layout.jpg) ;
font-family: 'Libre Baskerville', sans-serif;
margin: 0; 

}

section { 
	background: transparent url(../images/enso.svg) no-repeat top left;
	background-color:  rgba(70, 67, 67, 0.623);
	}
.summary{
	
	margin: 0 200px 0 375px;
}

.preamble{
	margin: 0 200px 0 375px;
}
.group-description{
	display: flex; 
}
.supporting, .sidebar{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.explanation, .participation, .benefits, .requirements, .design-selection .design-archives{
	width: 35%;
	background-color:  rgba(122, 116, 116, 0.8);
	border-radius: 7%;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

h3{
	text-align: center;
}

p{
	font-style: italic;
}